{% extends 'Books/home.html' %}

{% block TITLE %}
Add Book
{% endblock %}

{% block CSSLINKS %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/createbook.css' %}">

{% endblock %}

{% block BODY %}

<div class="container">



    <div class="card">
        <h1 class="main-heading">Edit Book</h1>
        <form action="#" method="post" class="book-form">
            {% csrf_token %}

            <label for="id_title" class="lbl mt-3">Title</label>
            {{ form.title }}

            <label for="id_author" class="lbl ">Author</label>
            {{ form.author }}

            <label for="id_genre" class="lbl ">Genre</label>
            {{ form.genre }}

            <button type="submit" class="add-btn ">EDIT</button>
        </form>
    </div>

</div>



{% endblock %}